# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://bphtmaqtmbfzeqyykbbu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwaHRtYXF0bWJmemVxeXlrYmJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxOTI4NDAsImV4cCI6MjA5NDc2ODg0MH0.VU2jnCXgrJ3WHz3LrYg1abgUdPXt2Dg7w9XeZ3kR_dU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJwaHRtYXF0bWJmemVxeXlrYmJ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTE5Mjg0MCwiZXhwIjoyMDk0NzY4ODQwfQ.aE_Iu3wkDIM3zbjI9qIAApwbUEENjCrsKIOHFPXdpDA

# Clerk
CLERK_WEBHOOK_SECRET=whsec_...
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_b3B0aW11bS1jb3ctMTYuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_hB83AkkfMEp68OoRW1jbj4Gucwpu677eE5qyG7UKBo

# Clerk Redirect URLs
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
